.cardNav{
    display: flex;
    justify-content: center;
    color:#fff;
    background-color: rgb(76, 62, 185);
    border: 20px;
    padding: 30px;
    font-size: 2em;
}
.cardNav .backArrow{
    position: absolute;
    left: 40px;
}

.cardNav a{
    text-decoration: none;
}
.cardNav a:visited {
    color: inherit; 
    text-decoration: none;
  }


.card-container {
    display: grid;
    gap: 10px;
    text-align: center;
}

.card-option {
    height: 60px;
    width: 120px;
    padding: 20px;
    border: 1px;
    text-align: center;
    border-radius: 10px;
    margin: 0 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(6, 1fr); /* 6 columns for desktop */
    }
}

@media screen and (max-width: 767px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Auto-fill columns for mobile */
        gap: 0px;
    }

    .card-option{
        margin: 10px 40px;
        height: 60px;
        width: 80px;
    }
}
